In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, accuracy_score

In [3]:
# Load dataset
df = pd.read_csv(r"C:\Users\User\OneDrive\Documents\YiJia\INTI\Sem 9\6006CEM Machine Learning and Related Applications\CW\MachineLearningCW\Classification\text.csv")

# Display the first few rows of the dataset
print("Initial Dataset Shape:", df.shape)
print("\nFirst few rows:")
df.head()

Initial Dataset Shape: (416809, 2)

First few rows:

                                                text  label
0      i just feel really helpless and heavy hearted      4
1  ive enjoyed being able to slouch about relax a...      0
2  i gave up my internship with the dmrg and am f...      4
3                         i dont know i feel so lost      0
4  i am a kindergarten teacher and i am thoroughl...      4

In [4]:
# Check for missing values
print("\nChecking for missing values:")
print(df.isnull().sum())

Checking for missing values:
text     0
label    0
dtype: int64

In [5]:
df['label'].value_counts()

1    141067
0    121187
3     57317
4     47712
2     34554
5     14972
Name: label, dtype: int64

In [ ]:

X = df['text']
y = df['label']